@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
}

.card-container {
    width: 384px;
    height: 522px;
    background-color: white;
    margin: 100px auto;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 10px 10px ;
    border: 1px solid black;
}

.imagem {
    background-image: url(assets/images/illustration-article.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 336px;
    height: 200px;
    border-radius: 10px;
}

#yellow-text {
    background-color: hsl(47, 88%, 63%);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

p {
    margin: 20px 0;
    font-family: "Figtree";
}

.avatar-container .avatar-img {
    background-image: url(assets/images/image-avatar.webp);
    width: 20px;
    height: 20px;
    background-color: aqua;
}

a {
    text-decoration: none;
    color: black;
}

a h2 {
    font-family: "Figtree";
}

a :hover {
    color: hsl(47, 88%, 63%);
}
